.wrapper-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 40px auto;
  width: 80%;
}

@media (max-width: 991px) {
  .wrapper-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}

.card {
  background: #ffffff;
  border: #6B00B9 5px solid;
  border-radius: 50px;
  -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.301);
          box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.301);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 8px;
  padding: 30px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.card.popular {
  margin-top: -10px;
  margin-bottom: -10px;
}

.card.popular .card-title h3 {
  color: #6B00B9;
  font-size: 22px;
}

.card.popular .card-price {
  margin: 50px;
}

.card.popular .card-price h1 {
  color: #6B00B9;
  font-size: 50px;
}

.card.popular .card-action button {
  background-color: #6B00B9;
  border-radius: 80px;
  color: #fff;
  font-size: 17px;
  margin-top: -15px;
  padding: 15px;
  height: 80px;
}

.card.popular .card-action button:hover {
  background-color: #300053;
  font-size: 23px;
}

@media (max-width: 991px) {
  .card.popular {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.card:hover {
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-ribbon {
  position: absolute;
  overflow: hidden;
  top: -10px;
  left: -10px;
  width: 114px;
  height: 112px;
}

.card-ribbon span {
  position: absolute;
  display: block;
  width: 160px;
  padding: 10px 0;
  background-color: #6B00B9;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  left: -35px;
  top: 25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.card-ribbon::before, .card-ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #6B00B9;
  border-top-color: transparent;
  border-left-color: transparent;
}

.card-ribbon::before {
  top: 0;
  right: 0;
}

.card-ribbon::after {
  bottom: 0;
  left: 0;
}

.card-title h3 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  text-transform: uppercase;
}

.card-title h4 {
  color: rgba(0, 0, 0, 0.6);
}

.card-price {
  margin: 60px 0;
}

.card-price h1 {
  font-size: 46px;
}

.card-price h1 sup {
  font-size: 15px;
  display: inline-block;
  margin-left: -20px;
  width: 10px;
}

.card-price h1 small {
  color: rgba(0, 0, 0, 0.3);
  display: block;
  font-size: 11px;
  text-transform: uppercase;
}

.card-description ul {
  display: block;
  list-style: none;
  margin: 60px 0;
  padding: 0;
}

.card-description li {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  margin: 0 0 15px;
}

.card-description li::before {
  font-family: FontAwesome;
  content: "\f00c";
  padding: 0 5px 0 0;
  color: rgba(0, 0, 0, 0.15);
}

.card-action button {
  background: transparent;
  border: 2px solid #6B00B9;
  border-radius: 30px;
  color: #6B00B9;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: bold;
  padding: 20px;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-action button:hover {
  background-color: #6B00B9;
  -webkit-box-shadow: 0 2px 4px #300053;
          box-shadow: 0 2px 4px #300053;
  color: #fff;
  font-size: 17px;
}
/*# sourceMappingURL=prod.css.map */